body {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background: white;
    margin-bottom: 0;
    margin: 0;
    padding-top: 0;
}

.main_photo {
    text-align: center;
}

#image {
    width: 17.5%;
    height: auto;

    border-radius: 28px;
    /* box-shadow: 4px 4px 14px rgba(0, 0, 0, 35%); */

    margin: 25px;

    transition: 0.5s;
}

#image:hover {
    transform: scale(1.05);
}

#headtext {
    text-align: center;

    margin-bottom: 0;
    padding-top: 50px;
}

#headparagraph {
    font-size: 17px;
    text-align: center;

    margin-bottom: 0;
    margin: 0;
    padding-top: 0;
}

#theme {
    position: absolute;
    top: 17px;
    left: 17px;

    cursor: pointer;
    transition: 0.5s;
}

#theme:hover {
    transform: scale(1.2);
}

a {
    text-decoration: none;
}